html {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #2a1c47;
}

@import "app";
